# for문

## 1. for문의 전형적인 예제

In [3]:
test_l1=[1,2,3]
for i in test_l1:
    print(i)

1
2
3

## 2. 다양한 for문의 활용

In [5]:
a=[(1,2),(3,4),(5,6)]

for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [12]:
for first, last in a:
    print(first, last, end= ' ')
    #print(last)
    print(first +last)

1 2 3
3 4 7
5 6 11

## 3. for문의 응용

총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격, 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오.

In [15]:
# 시험점수를 list로 

scores=[90,25,78,45,98]
number=0

for score in scores:
    number=number+1
    #print(score)
    if score>=60:
        print("{0}번 학생은 합격입니다".format(number))
    else:
        print("{0}번 학생은 불합격입니다".format(number))

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

### for문과 continue

In [19]:
# 시험점수를 list로 

scores=[90,25,78,45,98]
number=0

for score in scores:
    number=number+1
    #print(score)
    if score<60:
        continue
    else:
        print("{0}번 학생은 합격입니다".format(number))

1번 학생은 합격입니다
3번 학생은 합격입니다
5번 학생은 합격입니다

### for문과 함께 자주 사용하는 range 함수

In [20]:
var1=range(10)
var1

range(0, 10)

In [22]:
import numpy as np
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
# range 예시
add=0
for i in range(1,11):
    add=add+i
    
print(add,end=' ')

55

In [31]:
# range를 활용한 합격메시지 프로그래밍
# 시험점수를 list로 

scores=[90,25,78,45,98]

for index in range(len(scores)):
    if scores[index]<60:
        continue
    else:
        print("{0}번 학생은 합격입니다".format(index+1))

1번 학생은 합격입니다
3번 학생은 합격입니다
5번 학생은 합격입니다

### for 와 range를 활용한 구구단 생성

In [67]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=' ')
    print(' ')  # 줄바꿈 효과

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 내포 사용하기

In [69]:
# 빈 리스트 만들어서 원소 추가
a=[1,2,3,4]
result=[]
for i in a:
    result.append(i*3)

print(result)

[3, 6, 9, 12]

In [72]:
# 리스트 내포 사용하여 리스트 생성
a1=[11,22,33,44]
result1=[i*3 for i in a1]

In [74]:
print(result1)

[33, 66, 99, 132]

In [79]:
# 홀수만 3을 곱해주자
l2=[1,2,3,4]
result=[i*3 for i in l2 if i%2==1]
print(result)

[3, 9]

In [80]:
# 위 식을 전개해보자
result=[]
for i in l2:
    if i%2==1:
        result.append(i*3)

print(result)

[3, 9]

### Q1 구구단의 모든 결과를 리스트에 담아보자

In [87]:
a1=[]
for i in range(2,10):
    for j in range(1,10):
        a1.append(i*j)      
print(a1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [109]:
a1_1=[i*j for i in range(2,10)
          for j in range(1,10)]
print(a1_1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### Q2 for문을 사용해 1부터 100까지의 숫자를 출력 및 더해보자.

In [1]:
a2_1=[]
for i in range(1,101):    
    a2_1.append(i)   

sum(a2_1)

5050

In [123]:
add=0
for i in range(1,101):
    add += i
print(add)

5050

### Q3 빅데이터반 학급 10명의 점수가 아래와 같을 때 for문을 활용하여 평균 점수를 구해보자

In [138]:
score=[70,60,55,75,95,90,80,80,85,100]
sum_s=score[0]
for i in score:
    sum_s += i
mean_s=sum_s/len(score)
print(mean_s)

86.0

### Q4 아래의 리스트에서 홀수에만 2를 곱해 저장하는 코드가 아래와 같이 표현되어 있다. 그렇다면 아래의 코드를 리스트 내포로 표현해보자.

In [118]:
numbers=[1,2,3,4,5]
result=[]
for n in numbers:
    if n%2==1:
        result.append(n*2)

10

In [133]:
numbers=[1,2,3,4,5]
result=[n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]

In [162]:
numbers=[1,2,3,4,5]
result2=[n*2 if n%2==1 else n for n in numbers]
print(result2)

[2, 2, 6, 4, 10]

***

In [163]:
multiple = [10*[0] for i in range(1,15)]

multiple = []
for i in range(1,15):
    multiple.append(10*[0])

for i in range(0,10):
    for j in range(0,10):
        multiple[i][j] = (i+2) * (j+1)        
    print(multiple[i])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

In [11]:
list(range(1,9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
multiple = [9*[0] for i in range(1,9)]
print(multiple)

[[0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [12]:
multiple = [9*[0] for i in range(1,9)]

for i in range(0,8):
    for j in range(0,9):
        multiple[i][j] = (i+2) * (j+1)        
    print(multiple[i])

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[4, 8, 12, 16, 20, 24, 28, 32, 36]
[5, 10, 15, 20, 25, 30, 35, 40, 45]
[6, 12, 18, 24, 30, 36, 42, 48, 54]
[7, 14, 21, 28, 35, 42, 49, 56, 63]
[8, 16, 24, 32, 40, 48, 56, 64, 72]
[9, 18, 27, 36, 45, 54, 63, 72, 81]