# 함수란?

코딩을 할 때 '반복적으로 가치가 있게 사용되는 부분'을 한 묶음으로 하여 "어떠한 값을 입력하면 어떠한 결과값을 돌려준다"라는 형식의 함수를 의미한다.

In [2]:
# 이 코딩은 실행되지 않습니다.

def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장1>
    
    ```
    return x

SyntaxError: invalid syntax (2505336499.py, line 4)

간단하지만 함수를 거의 설명해주는 아래의 사례를 보자.

In [3]:
def add(a,b):
    return a+b

>"이 함수의 이름은 add이고, 입력으로 2개의 값을 받으며, 결과값은 2개의 입력을 더한 값"

In [4]:
# 함수 실행 1
a=3
b=4
add(a,b)

7

In [5]:
# 함수 실행 2
add(3,4)

7

### 매개변수(parameter)와 인수(arguments)

In [7]:
def add(x,y):   # x, y는 매개변수
    return x+y

print(add(1,3))  # 1, 3은 인수

4

### 입력값과 출력값에 따른 형태

> 입력값 --> 함수 --> 출력값

### 함수의 1번 유형

In [8]:
def add(x,y):
    result=x+y
    return result

### 함수의 2번 유형

##### 입력값이 없는 함수

In [9]:
def say_hi():
    return 'Hi'

In [11]:
a=say_hi()
print(a)

Hi

위 함수를 쓰기 위해서는 아무 값도 넣지 말아야 한다. 하지만 이 함수는 결과값으로 Hi라는 문자열을 돌려준다. 이렇게 입력값이 없고 결과값만 존재하는 함수가 존재한다.

### 함수의 3번 유형

##### 출력값이 없는 함수

In [13]:
def add(a,b):
    print("%d와 %d의 합은 %d이다." % (a,b,a+b))

In [14]:
add(3,4)

3와 4의 합은 7이다.

In [16]:
var1=add(3,4)
print(var1)

3와 4의 합은 7이다.
None

### 함수의 4번 유형

##### 입력값도 출력값도 없는 함수

In [17]:
def say():
    print('hi')

In [19]:
say()

hi

## 매개변수(parameter) 지정하여 호출하기

In [20]:
def sub(x,y):
    return x-y

In [24]:
result1=sub(3,7)
print(result1)

-4

In [26]:
result2=sub(y=5,x=2)
print(result2)

-3

## 입력값이 몇 개가 될 지 모를때엔?

In [27]:
def add_many(*args):
    result=0
    for i in args:
        result=result+i
    return result

In [32]:
add_many(3,4,456,5,6)

474

위에서 만든 add_many 함수는 입력값이 몇 개이든 상관이 없다. *args처럼 매개변수 이름 앞에 *을 붙이면 입력값을 전부 모아서 튜플로 만들어 주기 때문이다. 만약 add_many(1, 2, 3)처럼 이 함수를 쓰면 args는 (1, 2, 3)이 되고, add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)처럼 쓰면 args는 (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)이 된다. 여기에서 *args는 임의로 정한 변수 이름이다. *pey, *python처럼 아무 이름이나 써도 된다.

In [43]:
# 덧셈과 곱셈을 선택해서 수행할 수 있도록 하는 함수
def add_mul(select, *args):
    if select=='add':
        result=0
        for i in args:
            result += i
    elif select=='mul':
        result=1
        for i in args:
            result *= i
    return result

In [46]:
add_mul('add',1,2,3,4)

10

In [45]:
add_mul('mul',1,2,3,4)

24

#### 키워드 파라미터 kwargs

In [47]:
# 키워드 파라미터 사용시에는 별을 두 개(**) 붙인다.
def print_kwargs(**kwargs):
    print(kwargs)

In [48]:
print_kwargs(a=1)

{'a': 1}

In [50]:
print_kwargs(name='asia', age=3) # dict의 결과로 활용이 가능하다.

{'name': 'asia', 'age': 3}

### 함수의 결과값은 언제나 하나

In [51]:
# return 값에 2개를 입력
def add_mul(a,b):
    return a+b, a*b

In [52]:
add_mul(3,4)  # 결과값은 2개의 요소를 가진 튜플 1개

(7, 12)

In [57]:
# return 값이 2개 존재한다면?
def add_mul(a,b):
    return a*b  # 이미 def와 return의 페어링이 끝나
    return a+b  # 홀로 남은 a+b

In [58]:
result2=add_mul(3,4)
result2

12

### 매개변수에 초기값 미리 설정 :: default 설정

In [65]:
def intro_myself(name, age, woman=True):  # default 값이 가장 마지막에 와야 한다
    print("제 이름은 %s 입니다." % name)
    print("나이는 %d세 입니다." % age)
    
    if woman:
        print("여성입니다.")
    else:
        print("남성입니다.")

In [66]:
intro_myself(name='미연', age=20)

제 이름은 미연 입니다.
나이는 20세 입니다.
여성입니다.

In [68]:
intro_myself(name='정원', age=20, woman=False)

제 이름은 정원 입니다.
나이는 20세 입니다.
남성입니다.